<md-grid-list cols="12" class="general-grid" rowHeight="100px">
  <!-- Left Text -->
  <md-grid-tile colspan="2">
    <button md-button class="news-text">{{leftText}}</button>
  </md-grid-tile>
  <!-- Home Button -->
  <md-grid-tile colspan="8">
    <button md-button type="submit" class="news-title">
         <h1 class="home-button">{{logotext}}</h1>
      </button>
  </md-grid-tile>
  <!-- Right Text -->
  <md-grid-tile colspan="2">
    <button md-button class="news-text">{{rightText}}</button>
  </md-grid-tile>
</md-grid-list>
<md-grid-list cols="12" class="general-grid" rowHeight="20px">
  <!-- Left Text -->
  <md-grid-tile colspan="2">
    <p class="under-text">VOL IV-NO 206</p>
  </md-grid-tile>
  <!-- Home Button -->
  <md-grid-tile colspan="8">
    <p class="under-text">FRIDAY, DECEMBER, 18, 1863</p>
  </md-grid-tile>
  <!-- Right Text -->
  <md-grid-tile colspan="2">
    <p class="under-text">THREE CENTS PER COPY</p>
  </md-grid-tile>
</md-grid-list>